.typed-text{
    font-family: 'Kalam', cursive;
    font-size: 28px;
    font-weight: 700;
    color: rgb(0, 17, 255);
    font-family: 'Rubik Glitch Pop', system-ui;
}
.header{
    position: relative;
}
.back-head{
  position: absolute;
  bottom: 44px;
  left: 30%;
    
}