@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.interFont{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.about-us-text{
    font-family: 'Acme', sans-serif;
}
.about-us-des{
    font-family: 'Roboto Condensed', sans-serif;
}