.navItems a{
    margin-right: 2rem;
    font-size: 1.2rem;
    color: #333;
    font-family: 'Roboto Condensed', sans-serif;
}
.navItems {
    margin-right: 100px;
   
}
.NavBar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.NavBar img{
    height:70px;
    margin-left: 100px;
}