@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&display=swap');


.interfont{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.Trio-Bangla{
  font-family: "Tiro Bangla", serif;
  font-weight: 400;
  font-style: normal;
}
.sticky-nav {
  animation: sticky-nav 300ms;
}
 
@keyframes sticky-nav {
 0% {
     transform: translateY(-6em)
 }

 100% {
     transform: translateY(0)
 }
}
